<section id='about'>

  <div class='container'>

    <div class='row'>
      <div class='col-sm-5 col-xs-12 pull-right'>
        <img src='assets/images/hoodie.svg' class='large'/>
      </div>
      <div class='col-sm-7 content-header text-right'>
        <p>Hello, my name is <strong>Daniel</strong>.</p>
        <p>I am a <strong>software engineer</strong> working primarily with <strong>web applications</strong>.</p>
        <p>I am a <strong>community-taught programmer</strong>, and I constantly look for ways to contribute back to this awesome community.</p>
        <p>Please <strong>leave me a message</strong> if you would like to work together!</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-8'>
        <div class='panel panel-default'>
          <div class='panel-heading text-center'>
            <strong>Recent activities</strong>
          </div>
          <div class='panel-body'>
            {{#each projects as |project|}}
              {{#projects-partial item=project}}
              {{/projects-partial}}
            {{/each}}
          </div>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='panel panel-default'>
              <div class='panel-heading text-center'>
                <strong>My other links</strong>
              </div>
              <div class='panel-body'>
                <div class='row content-row contact'>
                  <a href='https://github.com/gohdaniel15/' target='_blank'>
                    <div class='col-md-3 text-center'>
                      <img src='assets/images/github.svg' class='button'/>
                    </div>
                    <div class='col-md-9 text-center flex-center'>
                      <strong>My Github Page</strong>
                    </div>
                  </a>
                </div>
                <div class='row content-row contact'>
                  <a href='https://www.linkedin.com/in/danielgohky/' target='_blank'>
                    <div class='col-md-3 text-center'>
                      <img src='assets/images/linkedin.svg' class='button'/>
                    </div>
                    <div class='col-md-9 text-center flex-center'>
                      <strong>My LinkedIn Page</strong>
                    </div>
                  </a>
                </div>
                <!-- <div class='row contact'>
                  <a href='#'>
                    <div class='col-md-3 text-center'>
                      <img src='assets/images/email.svg' class='button'/>
                    </div>
                    <div class='col-md-9 text-center flex-center'>
                      <strong>gohdaniel15@gmail.com</strong>
                    </div>
                  </a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='panel panel-default'>
              <div class='panel-heading text-center'>
                <strong>Projects I contribute to</strong>
              </div>
              <div class='panel-body'>
                <div class='row content-row project'>
                  <a href='https://github.com/bbatsov/rubocop'>
                    <div class='col-md-3 text-center'>
                      <img src='assets/images/rubocop-logo.png' class='button'/>
                    </div>
                    <div class='col-md-9 text-center flex-center'>
                      <strong>Rubocop</strong>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<section id='contact-me'>

  <div class='container'>
    <div class='panel panel-default'>
      <div class='panel-heading text-center'>
        <strong>Leave me a message!</strong>
      </div>
      <div class='panel-body'>
        {{#if responseMessage}}

          <br/>
          <div class='alert alert-success col-xs-12'>
            <p>Thank you {{contact.name}}! An email has been sent to <strong>gohdaniel15@gmail.com</strong>. I will respond to you as soon as I can!</p>
            <br/>
            <p>
              <strong>Sender:</strong> {{contact.name}} ({{contact.email}})
            </p>
            <p>
              <strong>Message:</strong>
            </p>
            <p>
              {{contact.message}}
            </p>
          </div>

        {{else}}

          <p>
            All messages will be sent to my email <strong>gohdaniel15@gmail.com</strong>. You can email me directly at that address if you prefer :)
          </p>
          {{#contact-form item=contact action='createContact'}}
          {{/contact-form}}

        {{/if}}
      </div>
    </div>
  </div>

</section>
